<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <!-- 本地nexus私服认证 -->
  <servers>
      <server>
          <id>aliyun-maven</id>  <!-- 与 pom.xml 里的 repository 上的 ID 对应 -->
      </server>
  </servers>
  <mirrors>
      <!-- 所有maven下载都通过本地nexus私服 -->
      <mirror>
          <id>nexus</id>
          <name>local nexus maven</name>
          <mirrorOf>*</mirrorOf>
          <url>https://maven.aliyun.com/repository/public</url>
      </mirror>     
  </mirrors>  
</settings>
